.main-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 23.3%;
  display: flex;
  font-family: system-ui;
}

.col {
  margin-left: 53px;
  width: 100%;
}

.col-body {
  display: inline-flex;
  flex-direction: column;
  margin-top: 2px;
}

.logo-link {
  height: 49px;
  width: 49px;
}

.logo-link:hover {
  border-radius: 9999px;
  background: rgb(29, 161, 242, 0.1);
}

.linklogosvg {
  margin-top: 10px;
  margin-left: 1px;
  height: 30px;
  width: 47px;
  fill: rgb(29, 161, 242, 1);
}

.body-links {
  position: fixed;
  top: 55px;
}

.col-link {
  display: inline-flex;
  height: 46px;
  color: black;
  border-radius: 9999px;
  text-decoration: none;
}

.col-link:hover {
  background: rgb(29, 161, 242, 0.1);
  color: rgb(29, 161, 242, 1);
  fill: rgb(29, 161, 242, 1);
}

.col-link:active {
  color: rgb(29, 161, 242, 1);
  fill: rgb(29, 161, 242, 1);
}

.linktext {
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 19px;
  font-weight: 900;
}

.linksvg {
  margin: 10px;
  height: 26px;
  width: 26px;
}

.bottom-lnks {
  position: fixed;
  bottom: 10px;
}

.newtwt {
  position: relative;
  margin-bottom: 10px;
  background: rgb(29, 161, 242, 1);
  color: white;
  font-size: 15px;
  font-weight: 900;
  text-decoration: none;
  border-radius: 9999px;
  padding: 16px 93px;
}

#accpopup {
  font-family: system-ui;
  margin-top: 97px;
  height: 59px;
  width: 255px;
  border: none;
  border-radius: 9999px;
  outline: none;
  background: none;
  font-size: 15px;
  font-weight: 600;
}

#accpopup:hover {
  background: rgb(29, 161, 242, 0.1);
}
