.main-msgs-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-family: system-ui;
}

.cols-msgs {
  height: 100%;
}

.col1-msgs {
  width: 23.3%;
  border-right: thin solid grey;
}

.col1-msgs-body {
  margin-left: 16%;
  background: white;
}

.col2-msgs {
  width: 43.75%;
  border-right: thin solid grey;
}

.col2-msgs-body {
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 100%;
  background: skyblue;
}

.col3-msgs {
  width: 31%;
}

.col3-msgs-body {
  margin-left: 7%;
  margin-right: 10%;
  height: 100%;
  background: skyblue;
}
